/**
 * VARIABLES
 */

// COLORS ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// 👁👁 To use var from map: map-get($map, $key)
$colors: 
(
	black: #000000,
	white: #ffffff,

	// RED
	red-very-dark-grayish: #717070,

	// CYAN
	cyan-slightly-desaturated: #96d5ea,
	cyan-light-grayish: #f1f2f2,
	cyan-dark-grayish: #949595,
	
	// BLUE
	blue-very-dark: #24425e,
	
	// GRAY
	gray-light: #d6d6d6,
	gray-very-dark: #646464,

	// ORANGE
	orange-slightly-desaturated: #c69067,
);
		
// FONT ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
$font-body-family: "Open Sans", sans-serif;
$font-title-family: "Montserrat", sans-serif;
$font-script-family: "Monotype Corsiva", cursive;
$base-font-size: 16px;
$unitless-base-font-size: 16;
$base-line-height: (21/16);

$font-weight: 
(
	extralight: 100,
	light: 300,
	book: 300,
	regular: 400,
	medium: 500,
	semibold: 600,
	bold: 700,
	extrabold: 800,
	extrablack: 900
);

// LAYOUT ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
$psd-width: 1600px;
$container-width: 1420px;

// TRANSITION ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

$ease-transition: 0.3s ease;

// MISCELLANEOUS –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
$fonts-dir: "../../fonts/";
$img-dir: "../../img/";
$svg-dir: "../../img/svg/";
$jpg-dir: "../../img/jpg/";
$png-dir: "../../img/png/";

// RESPONSIVE ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Breakpoint slicer https://github.com/lolmaus/breakpoint-slicer
$slicer-breakpoints: 0 768px 992px 1200px 1400px;
$slicer-breakpoint-names: 'xs' 'sm' 'md' 'lg' 'hd';
$slicer-anti-overlap-corrections: -1px;

// GRID ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

// NAMESPACE –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
$namespaces:
(
	home: home,
	page: page,
	single-post: single,
	blog: blog,
	site: site,
);